apiVersion: secrets.infisical.com/v1alpha1
kind: InfisicalSecret
metadata:
  name: infisical-secret-traefik-openrouter
  namespace: app
  labels:
    app: traefik-openrouter
spec:
  hostAPI: https://vault.hospitalsm.org
  resyncInterval: 10
  authentication:
    kubernetesAuth:
      identityId: "a33a0079-5945-4e32-9987-14f21d2e5236"
      autoCreateServiceAccountToken: true
      serviceAccountRef:
        name: infisical-service-account
        namespace: security
      secretsScope:
        projectSlug: traefik-openrouter-b-wj-v
        envSlug: prod
        secretsPath: ""
        recursive: true

  managedKubeSecretReferences:
    - secretName: traefik-openrouter-secret
      secretNamespace: app
      creationPolicy: "Owner"
      template:
        includeAllSecrets: false
        data:
          OPENROUTER_API_KEY: "{{.OPENROUTER_API_KEY.Value}}"
