apiVersion: secrets.infisical.com/v1alpha1
kind: InfisicalSecret
metadata:
  name: hsm-storage-minio-infisical-secret
  namespace: storage
  labels:
    app: hsm-storage-minio
spec:
  hostAPI: https://vault.hospitalsm.org
  resyncInterval: 10
  authentication:
    kubernetesAuth:
      identityId: "a33a0079-5945-4e32-9987-14f21d2e5236"
      autoCreateServiceAccountToken: true
      serviceAccountRef:
        name: infisical-service-account
        namespace: security
      secretsScope:
        projectSlug: hsm-storage-gep-v
        envSlug: prod
        secretsPath: ""
        recursive: true

  managedKubeSecretReferences:
    - secretName: hsm-storage-minio-secret
      secretNamespace: storage
      creationPolicy: "Owner"
      template:
        includeAllSecrets: false
        data:
          MINIO_ACCESS_KEY: "{{.MINIO_ACCESS_KEY.Value}}"
          MINIO_SECRET_KEY: "{{.MINIO_SECRET_KEY.Value}}"
          MINIO_DOMAIN: "{{.MINIO_DOMAIN.Value}}"
          MINIO_PORT: "{{.MINIO_PORT.Value}}"
          MINIO_ROOT_PASSWORD: "{{.MINIO_ROOT_PASSWORD.Value}}"
          MINIO_ROOT_USER: "{{.MINIO_ROOT_USER.Value}}"
    - secretName: hsm-storage-minio-tenant-secret
      secretNamespace: storage
      creationPolicy: "Owner"
      template:
        includeAllSecrets: false
        data:
          config.env: |-
            export MINIO_ROOT_USER={{.MINIO_ROOT_USER.Value}}
            export MINIO_ROOT_PASSWORD={{.MINIO_ROOT_PASSWORD.Value}}
            export MINIO_DOMAIN={{.MINIO_DOMAIN.Value}}
            export MINIO_PORT={{.MINIO_PORT.Value}}
            export MINIO_ACCESS_KEY={{.MINIO_ACCESS_KEY.Value}}
            export MINIO_SECRET_KEY={{.MINIO_SECRET_KEY.Value}}
